[project]
	description = auto pair bluetooth audio device and a2dp without system setting
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/garyckhsu
[access "refs/for/refs/*"]
	read = group user/garyckhsu
	push = group user/garyckhsu
	label-Code-Review = -2..+2 group user/garyckhsu
	label-Verified = -1..+1 group user/garyckhsu
	rebase = group user/garyckhsu
	removeReviewer = group user/garyckhsu
	submit = group user/garyckhsu
[access "refs/heads/*"]
	read = group user/garyckhsu
	create = group user/garyckhsu
	push = +force group user/garyckhsu
	pushMerge = group user/garyckhsu
[access "refs/tags/*"]
	push = group user/garyckhsu
	push = +force group user/garyckhsu
